.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.2s ease;
	border: none;
	outline: none;
	font-size: 16px;
	user-select: none;
	width: fit-content;
	padding: 6px;
}
.rounded {
	border-radius: 50%;
}
.btn:active {
	transform: scale(0.97);
}
.btn.primary {
	background-color: var(--primary-default-strong);
	color: var(--grayscale-background);
}
.btn.primary:hover {
	background-color: var(--primary-default);
}
.btn.secondary {
	background-color: var(--secondary-default-strong);
	color: var(--grayscale-background);
}
.btn.secondary:hover {
	background-color: var(--secondary-default);
}
.btn.outline {
	background-color: transparent;
	color: var(--text-default-strong);
	border: 1px solid var(--text-default-strong);
}
.btn.outline:hover {
	background-color: var(--primary-default-strong);
	color: var(--grayscale-background);
}
.btn.link {
	background-color: transparent;
	color: var(--text-default-strong);
	border: 1px solid transparent;
}
.btn.link:hover {
	text-decoration: underline;
	text-decoration-color: var(--text-default-strong);
	text-underline-offset: 4px;
}
.btn.xs {
	padding: 5px 10px;
	font-size: 12px;
}
.btn.sm {
	padding: 8px 16px;
	font-size: 14px;
}
.btn.md {
	padding: 10px 20px;
	font-size: 16px;
}
.btn.lg {
	padding: 12px 24px;
	font-size: 18px;
}
.btn.xs.icon {
	padding: 5px;
	font-size: 12px;
}
.btn.sm.icon {
	padding: 8px;
	font-size: 14px;
}
.btn.md.icon {
	padding: 10px;
	font-size: 16px;
}
.btn.lg.icon {
	padding: 12px;
	font-size: 18px;
}
.btn.disabled {
	opacity: 0.6;
	cursor: not-allowed;
	pointer-events: none;
}
/* ButtonGroup */
.btnGroup {
	display: flex;
	align-items: center;
	justify-content: center;
}
.btnGroup button {
	border-radius: 0;
}
.btnGroup.vertical {
	flex-direction: column;
}
.btnGroup.horizontal {
	flex-direction: row;
}
.btnGroup.rounded.horizontal button:first-child {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.btnGroup.rounded.horizontal button:last-child {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.btnGroup.rounded.vertical {
	border-radius: 4px;
}
.btnGroup.rounded.vertical button:first-child {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.btnGroup.rounded.vertical button:last-child {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.btnGroup.rounded.horizontal {
	border-radius: 4px;
}
.btnGroup.rounded.horizontal button:first-child {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.btnGroup.rounded.horizontal button:last-child {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.btnGroup.primary button {
	background-color: var(--primary-default-strong);
	color: var(--grayscale-background);
}
.btnGroup.primary button:hover {
	background-color: var(--primary-default);
}
.btnGroup.secondary button {
	background-color: var(--secondary-default-strong);
	color: var(--grayscale-background);
}
.btnGroup.secondary button:hover {
	background-color: var(--secondary-default);
}
.btnGroup.outline {
	background-color: transparent;
	color: var(--text-default-strong);
	border: 1px solid var(--text-default-strong);
}
.btnGroup.outline button {
	background-color: transparent;
	color: var(--text-default-strong);
	border: 1px solid var(--text-default-strong);
}
.btnGroup.outline.rounded button:focus {
	color: var(--grayscale-background);
}
.btnGroup.outline button:hover {
	background-color: var(--primary-default-strong);
	color: var(--grayscale-background);
}
.btnGroup.link button {
	background-color: transparent;
	color: var(--text-default-strong);
	border: 1px solid transparent;
}
.btnGroup.link button:hover {
	text-decoration: underline;
	text-decoration-color: var(--text-default-strong);
	text-underline-offset: 4px;
}
.btnGroup.xs button {
	padding: 5px 10px;
	font-size: 12px;
}
.btnGroup.sm button {
	padding: 8px 16px;
	font-size: 14px;
}
.btnGroup.md button {
	padding: 10px 20px;
	font-size: 16px;
}
.btnGroup.lg button {
	padding: 12px 24px;
	font-size: 18px;
}
.btnGroup button.disabled {
	opacity: 0.6;
	cursor: not-allowed;
	pointer-events: none;
}
