.colan-button {
	background-color: #0c2a61; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	outline: none !important;
	&:active {
		background-color: #0e357c;
		transform: scale(1.01) translateY(-1px);
	}
}
